In [6]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("/content/1a) Cleaned_logistics.csv")
df

,Shipment_ID,Order_ID,Customer_Name,Source_City,Destination_City,Shipment_Date,Delivery_Date,Transport_Mode,Weight_kg,Distance_km,Vendor,Cost,Selling_Price,Delivery_Status,Damage_Flag,Return_Reason,Driver_Rating,Vehicle_Type,Fuel_Consumption_Litres,Delivery_Time_Calc
0,10001,12270,Aisha,Kolkata,Hyderabad,2022-11-29,2022-12-10,Road,25.0,100.0,Unknown,500.0,1200.0,In Transit,No Damage,Wrong Item,3.0,Mini Van,30.0,11.0
1,10002,5860,Unknown,Kolkata,Unknown,2021-02-02,2022-02-01,Road,15.0,200.0,Unknown,1500.0,300.0,Cancelled,No Damage,Late,3.0,Unknown,30.0,364.0
2,10003,10390,Unknown,Kolkata,Bangalore,2023-05-01,2022-12-24,Unknown,15.0,50.0,Unknown,1500.0,1200.0,In Transit,Unknown,Late,3.0,Bike,25.0,272.0
3,10004,10191,Unknown,Hyderabad,Delhi,2022-09-01,2022-09-20,Sea,30.0,200.0,Unknown,800.0,1200.0,Delivered,Unknown,Late,3.0,Bike,10.0,19.0
4,10005,10734,Unknown,Unknown,Bangalore,2022-10-29,2022-02-11,Unknown,5.0,400.0,DHL,500.0,1600.0,Unknown,Unknown,Not Returned,4.0,Unknown,30.0,272.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,14996,9427,Unknown,Unknown,Coimbatore,2021-07-06,2021-01-03,Road,15.0,400.0,FedEx,500.0,1200.0,In Transit,Unknown,Damaged,1.0,Unknown,10.0,272.0
4996,14997,11135,Sita,Kolkata,Unknown,2023-04-06,2023-05-04,Road,15.0,100.0,ABC Logistics,800.0,300.0,Cancelled,Damaged,Wrong Item,5.0,Bike,10.0,28.0
4997,14998,10573,Unknown,Bangalore,Unknown,2023-01-09,2022-07-31,Rail,5.0,20.0,ABC Logistics,100.0,1200.0,In Transit,Damaged,Damaged,4.0,Truck,15.0,272.0
4998,14999,9131,John,Kolkata,Coimbatore,2022-07-08,2021-08-10,Sea,5.0,400.0,ABC Logistics,1500.0,1200.0,Returned,No Damage,Not Returned,2.0,Mini Van,20.0,272.0
4999,15000,14900,Unknown,Unknown,Delhi,2022-04-04,2022-11-14,Sea,15.0,100.0,FedEx,1000.0,300.0,Returned,No Damage,Wrong Item,3.0,Container,15.0,224.0

In [24]:
# Calculating Mean for Weight
np.mean(df["Weight_kg"])

np.float64(15.633)

In [25]:
# Calculating Median for Weight
np.median(df["Weight_kg"])

np.float64(15.0)

In [27]:
# Calculating Standard Deviation for Weight
np.std(df["Weight_kg"])

7.906599205726759

In [28]:
# Calculating Mean for Cost
np.mean(df["Cost"])

np.float64(635.6)

In [29]:
# Calculating Median for Cost
np.median(df["Cost"])

np.float64(500.0)

In [30]:
# Calculating Standard Deviation for Cost
np.std(df["Cost"])

423.2311897769493

In [32]:
# Calculating Mean for Distance
np.mean(df["Distance_km"])

np.float64(171.172)

In [33]:
# Calculating Median for Distance
np.median(df["Distance_km"])

np.float64(150.0)

In [34]:
# Calculating Standard Deviation for Distance
np.std(df["Distance_km"])

118.68271321468777

In [37]:
# Profit margin calculated using vectorized NumPy operation
profit_margin = (df["Selling_Price"] - df["Cost"]) / df["Cost"] * 100
profit_margin

0        140.0
1        -80.0
2        -20.0
3         50.0
4        220.0
         ...
4995     140.0
4996     -62.5
4997    1100.0
4998     -20.0
4999     -70.0
Length: 5000, dtype: float64

In [44]:
# Identifying extreme values using percentiles
low = np.percentile(df["Weight_kg"], 1)
low

np.float64(5.0)

In [45]:
high = np.percentile(df["Weight_kg"], 99)
high

np.float64(30.0)

In [46]:
extreme_outliers = df[(df["Weight_kg"] < low) | (df["Weight_kg"] > high)]
extreme_outliers

Empty DataFrame
Columns: [Shipment_ID, Order_ID, Customer_Name, Source_City, Destination_City, Shipment_Date, Delivery_Date, Transport_Mode, Weight_kg, Distance_km, Vendor, Cost, Selling_Price, Delivery_Status, Damage_Flag, Return_Reason, Driver_Rating, Vehicle_Type, Fuel_Consumption_Litres, Delivery_Time_Calc]
Index: []

In [53]:
# Simulating delivery delays using Poisson distribution
realistic_deliveries = df[df['Delivery_Time_Calc'] <= 30]
avg_delivery_days = realistic_deliveries['Delivery_Time_Calc'].mean()
simulated_delays = np.random.poisson(lam=avg_delivery_days, size=1000)
print(f"Average delivery time: {avg_delivery_days:.2f} days")
print(f"Sample of 10 simulated delays: {simulated_delays[:10]}")
print(f"Mean of simulated delays: {simulated_delays.mean():.2f} days")

Average delivery time: 13.03 days
Sample of 10 simulated delays: [13  7 12 10  6  9 10  8 14 16]
Mean of simulated delays: 13.13 days

In [58]:
# Probability that a shipment is damaged(Binomial)


# Calculate probability that a shipment is damaged
p_damage = (df["Damage_Flag"] == "Damaged").mean()

# Binomial simulation (1 = Damaged, 0 = Not Damaged)
damage_simulation = np.random.binomial(n=1, p=p_damage, size=1000)

damaged_count = damage_simulation.sum()
damage_percentage = damaged_count / len(damage_simulation) * 100

print(f"Probability of a shipment being damaged: {p_damage:.2%}")
print(f"Damaged shipments in binomial simulation: {damaged_count} out of 1000")
print(f"Simulated damage percentage: {damage_percentage:.2f}%")

Probability of a shipment being damaged: 33.50%
Damaged shipments in binomial simulation: 354 out of 1000
Simulated damage percentage: 35.40%